---
import Button from "./Button.astro";

const {
    tier,
    most_popular,
    amount_per_month,
    title,
    description,
    btn_text,
    features,
} = Astro.props;

interface Props {
    tier: string;
    most_popular: boolean;
    amount_per_month: number;
    title: string;
    description: string;
    btn_text: string;
    features: {
        title: string;
        checked: boolean;
    }[];
}

const backGround =
    tier === "Free"
        ? "bg-white"
        : tier === "Pro"
          ? "bg-blue-500"
          : tier === "Enterprise"
            ? "bg-green-500"
            : "";
---

<div class="m-4 min-h-[300px] w-48 p-2 shadow-lg">
    <div class=`text-center p-1 rounded-t-lg ${backGround}`>
        <h3 class="font-bold">{tier}</h3>
    </div>

    {most_popular && <span>Most popular</span>}
    <p>{amount_per_month} /month</p>
    <h4>{title}</h4>
    <p>{description}</p>
    <Button
        class={`m-auto w-full rounded-lg ${backGround} px-1 py-2`}
        text={btn_text}
    />
    <div>
        {features.map((feature) => <p>{feature.title}</p>)}
    </div>
</div>
