---
import Button from "./Button.astro";

const {
    tier,
    most_popular,
    amount_per_month,
    title,
    description,
    btn_text,
    features,
} = Astro.props;

interface Props {
    tier: string;
    most_popular: boolean;
    amount_per_month: number;
    title: string;
    description: string;
    btn_text: string;
    features: {
        title: string;
        checked: boolean;
    }[];
}
---

<div class="m-4 min-h-[300px] w-48">
    <div
        class={tier === "Free"
            ? "bg-white text-center rounded-t-lg"
            : tier === "Pro"
              ? "bg-blue-300 text-center rounded-t-lg text-white"
              : tier === "Enterprise"
                ? "bg-yellow-300 text-center rounded-t-lg text-white"
                : "bg-red-300 text-center rounded-t-lg text-white"}
    >
        <h3 class="font-bold">{tier}</h3>
    </div>

    {most_popular && <span>Most popular</span>}
    <p>{amount_per_month} /month</p>
    <h4>{title}</h4>
    <p>{description}</p>
    <Button class="m-2 w-full rounded-lg bg-red-400 p-3" text={btn_text} />
    <div>
        {features.map((feature) => <p>{feature.title}</p>)}
    </div>
</div>
